/***************** Tag Selectors *****************************/

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

body{
    font-family: 'Merriweather', serif;
    margin:0;
    text-align: center;
    color: #40514E;
    line-height: 2;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0 auto 0 auto;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr{
    width: 4%;
    border-style: dotted none none none;
    border-color: lightgrey;
    border-width: 8px;
    margin: 80px auto 100px auto;
    
}

/**************** Class Selectors ***************************/
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-cloud{
    bottom: 300px;
    left: 350px;
    position: absolute;
}

.contact-desc{
    margin-bottom: 70px;;
}
.bottom-container{
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #66BFBF;
}

.copyright{
    font-size: 0.75rem;
    color: #EAF6F6;
}

.footer-link{
    margin: 20px 20px;
    display: inline-block;
    height: 20px;
}

.middle-container{
   margin: 100px 0;
}

.mountain{
    margin-top: 100px;
}

.pro{
    text-decoration: underline;
}

.profile-pic{
    height: 200px;
    margin-bottom: 30px;
}

 .profile-info{
    width: 25%;
    margin: 30px auto;
 }

.block-skill-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.dev-skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}


.skill-row{
    width: 50%;
    margin: 80px auto 100px auto;
    text-align: left;
}

.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 150px;
    position: relative; 
}

  
/**************** ID Selectors *****************************/

